/* Fundo específico para cadastro */
.body-cadastro-login {
    background-image: linear-gradient(45deg, #f0f0d8, #228b22);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.body-cadastro-login{
    background-image: linear-gradient(45deg,#f0f0d8, #228b22);
}
/* Formulário */
.formulario-cadastro {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.formulario-cadastro h2 {
    text-align: center;
    color: #228b22;
    margin-bottom: 20px;
}

.formulario-cadastro label {
    font-weight: bold;
    color: #228b22;
    display: block;
    margin-top: 10px;
}

.formulario-cadastro input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #bbba77;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.formulario-cadastro input:focus {
    border-color: #228b22;
    background-color: #f0f0d8;
}

.formulario-cadastro button {
    background-color: #228b22;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s;
}

.formulario-cadastro button:hover {
    background-color: #1a6e1a;
}

/* Rodapé */
footer {
    text-align: center;
    color: black;
    margin-top: 20px;
}
.botao-voltar {
    display: block;
    width: fit-content;
    margin: 10px auto;
    background-color: #228b22;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}